.button {
  width: 40%;
  height: 40px;
  background: linear-gradient(90deg,rgba(43, 41, 41, 1) 0%, rgba(18, 18, 163, 1) 11%, rgba(0, 212, 255, 1) 100%);
  border-radius: 1rem;
  font-weight: bold;
  border-color: #ccc
}