* {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 250px;
  height: 200px;
  background:burlywood;
  margin: 15px 0 0 15px;
  border-radius: 15px;
  border: 2px solid orangered;
}

.card-title {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.card-description {
  height: 100%;
  width: 100%;
}

.isCompletedDiv {
  align-self: flex-end;
  justify-self: end;
}

input#complete {
  margin-right: 5px;
}

time {
  font-size: 8px;
  align-self: flex-end;
}