* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(54, 54, 54);
}

.week-card {
  display: flex;
  width: 1200px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.week-days {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  width: 100%;
}

.day {
  border: 5px solid #000;
}